@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }
    .header {
        &__logo {
            width: 240px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .button {
        width: 140px;
        background-color: blue;
        &_main {
            width: 280px;
        }
    }
    .promo {
        padding: 20px 0 90px 0;
        &__wrapper {
            margin-top: 80px;
        }
        &__header {
            line-height: 40px;
        }
        &__icons {
            margin-top: 60px;
            width: 415px;
        }
        &__icon {
            width: 105px;
            font-size: 13px;
            img {
                margin-bottom: 18px;
            }
        }
    }
    .advantages {
        padding: 65px 0 75px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__subtitle {
            margin-top: 35px;
            font-size: 17px;
        }
        &__descr {
            margin-top: 22px;
            font-size: 13px;
        }
    }
}

@media (max-width: 991px) {
    .container {
    max-width: 700px;
    }
    .button {
        background-color: pink;
    }
    .promo {
        padding: 20px 0 60px 0;
    }
    .advantages {
        padding: 50px 0 60px 0;
        &__item {
            max-width: 210px;
        }
    }
}


@media (max-width: 767px) {
    .container {
    max-width: 550px;
    }
    .header {
        &__logo {
            width: 180px;
            }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        width: 125px;
        height: 25px;
        background-color: blue;
        font-size: 11px;
        &_main {
            margin-top: 60px;
            width: 250px;
            height: 45px;
            font-size: 15px;
        }
    }
    .promo {
        min-height: 600px;
        padding: 20px 0 50px 0;
        &__wrapper {
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            margin-top: 15px;
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            margin-top: 50px;
            width: 410px;
        }
        &__icon {
            width: 100px;
            font-size: 12px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .advantages {
        padding: 50px 0 50px 0;
        &__wrapper {
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            margin-top: 45px;
            max-width: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 320px;
        }
        .header {
            flex-wrap: wrap;
            justify-content: space-around;
            &__logo {
                width: 150px;
                }
            &__official {
                font-size: 8px;
                span {
                    font-size: 14px;
                }
            }
            &__phone {
                font-size: 16px;
            }
            &__contacts {
                align-items: center;
                padding-top: 20px;
            }
        }
        .button {
            width: 180px;
            height: 40px;
            background-color: pink;
            font-size: 14px;
            &_main {
                margin-top: 40px;
                width: 250px;
                height: 45px;
                font-size: 14px;
            }
        }
        .promo {
            min-height: 600px;
            padding: 20px 0 50px 0;
            &__wrapper {
                margin-top: 40px;
            }
            &__header {
                font-size: 36px;
                text-align: center;
            }
            &__subheader {
                font-size: 18px;
                text-align: center;
            }
            &__icons {
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 15px;
                width: 300px;
            }
            &__icon {
                margin-top: 25px;
                width: 110px;
                font-size: 12px;
            }
        }
        .advantages {
            
            &__item {
                margin-top: 35px;
            }
            &__subtitle {
                margin-top: 15px;
            }
            &__descr {
                margin-top: 5px;
            }
        }
    /* .container {
    max-width: 550px;
    } */
    .button {
        background-color: pink;
    }
}