@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }
    .header {
        &__logo {
            width: 240px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .button {
        width: 140px;
        background-color: blue;
        &_main {
            width: 280px;
        }
        &_submit {
            width: 100%;
        }
    }
    .promo {
        padding: 20px 0 90px 0;
        &__wrapper {
            margin-top: 80px;
        }
        &__header {
            line-height: 40px;
        }
        &__icons {
            margin-top: 60px;
            width: 415px;
        }
        &__icon {
            width: 105px;
            font-size: 13px;
            img {
                margin-bottom: 18px;
            }
        }
    }
    .advantages {
        padding: 65px 0 75px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__subtitle {
            margin-top: 35px;
            font-size: 17px;
        }
        &__descr {
            margin-top: 22px;
            font-size: 13px;
        }
    }
    .consultation {
        min-height: 670px;
        padding: 90px 0 85px 0;
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        padding: 75px 0;
        &__inner {
            width: 700px;
            &_img {
                width: 700px;
            }
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        left: -66px;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}

@media (max-width: 991px) {
    .container {
    max-width: 700px;
    }
    .button {
        background-color: pink;
    }
    .promo {
        padding: 20px 0 60px 0;
    }
    .advantages {
        padding: 50px 0 60px 0;
        &__item {
            max-width: 210px;
        }
    }
    .consultation {
        min-height: 660px;
        padding: 80px 0 75px 0;
    }
    .carousel {
        padding: 70px 0;
        &__inner {
            width: 650px;
            &_img {
                width: 600px;
            }
        }
    }
    /* .slick-dots {
        background-color: red;
        position: absolute;
        bottom: -45px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        width: 100%;
        li {
            position: relative;
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            color: burlywood;
            cursor: pointer;
            button {
                color: aqua;
                border: 0;
                background: transparent;
                display: block;
                outline: none;
                line-height: 0;
                font-size: 0;
                color: transparent;
                padding: 5px;
            }
        }
        
    } */
    .slick-dots {
        position: absolute;
        bottom: -50px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        width: 100%;
    }
      .slick-dots li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 25px;
        padding: 0;
        cursor: pointer;
    }
      .slick-dots li button {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0;
        font-size: 0;
        color: transparent;
        padding: 5px;
        cursor: pointer;
    }
      .slick-dots li button:hover,
      .slick-dots li button:focus {
        outline: none;
    }
      .slick-dots li button:hover:before,
      .slick-dots li button:focus:before {
        opacity: 1;
    }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 30px;
        line-height: 15px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
      .slick-dots li.slick-active button:before {
        color: black;
        opacity: 0.75;
    }
}

@media (max-width: 767px) {
    .container {
    max-width: 550px;
    }
    .header {
        &__logo {
            width: 180px;
            }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        width: 125px;
        height: 25px;
        background-color: blue;
        font-size: 11px;
        &_main {
            margin-top: 60px;
            width: 250px;
            height: 45px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
            height: 55px;
            font-size: 15px;
        }
    }
    .promo {
        min-height: 600px;
        padding: 20px 0 50px 0;
        &__wrapper {
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            margin-top: 15px;
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            margin-top: 50px;
            width: 410px;
        }
        &__icon {
            width: 100px;
            font-size: 12px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .advantages {
        padding: 50px 0 50px 0;
        &__wrapper {
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            margin-top: 45px;
            max-width: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .consultation {
        min-height: 640px;
        padding: 70px 0 60px 0;
        &__descr {
            font-size: 16px;
            text-align: center;
        }
    }
    .title_left {
        font-size: 30px;
        text-align: center;
    }
    .feed-form {
        margin: 36px auto;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 320px;
    }
    .header {
    flex-wrap: wrap;
    justify-content: space-around;
    &__logo {
            width: 150px;
            }
        &__official {
            font-size: 8px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        &__contacts {
            align-items: center;
            padding-top: 20px;
        }
    }
    .button {
        width: 180px;
        height: 40px;
        background-color: pink;
        font-size: 14px;
        &_main {
            margin-top: 40px;
            width: 250px;
            height: 45px;
            font-size: 14px;
        }
        &_submit {
            width: 100%;
            height: 55px;
            font-size: 15px;
        }
    }
    .promo {
        min-height: 600px;
        padding: 20px 0 50px 0;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 26px;
            text-align: center;
        }
        &__subheader {
            font-size: 14px;
            text-align: center;
        }
        &__icons {
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 15px;
            width: 300px;
        }
        &__icon {
            margin-top: 25px;
            width: 110px;
            font-size: 12px;
        }
    }
    .advantages {
        &__item {
            margin-top: 35px;
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 5px;
        }
    }
    .consultation {
        min-height: 550px;
        padding: 40px 0 50px 0;
        &__descr {
            font-size: 12px;
        }
    }
    .title {
        font-size: 24px;
        &_left {
            font-size: 22px;
        }
    }
    .feed-form {
        margin: 36px auto;
    }

}